<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>
<body>

    

        <section class="aliados-content-section container">
            
            <div class="aliados-content-section__tittle">
                <h2>Nuestros Aliados</h2>
            </div>
            
            <div class="aliados-content-section__logos">
                <img src="../assets/img/imgAliados/allianz.png" alt="logo Allianz">
                <img src="../assets/img/imgAliados/axa.png" alt="logo Allianz">
                <img src="../assets/img/imgAliados/equidad.png" alt="logo Allianz">
                <img src="../assets/img/imgAliados/LibertySegurosx_BLUE_RGB.png" alt="logo Allianz">
                <img src="../assets/img/imgAliados/sura.png" alt="logo Allianz">
            </div>
            
        </section>

    
</body>
</html>