<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Beneficios | Body</title>
</head>
<body>

    <section class="benefits-content-section container">

        <div class="benefits-content-section__text">
            <h2>Beneficios</h2>
        </div>

        <div class="benefits-content-section__benefitsCards">

            <!-- Beneficio Atencion Personalizada-->
            <div class="cardBenefits">
                <i class="fa-solid fa-circle-check"></i>
                <h2>Atencion Personalizada</h2>
                <p>Te ofrecemos un servicio de asesoria personalizado y orientado a tus necesidades de manera que encuentres las coberturas adecuadas para proteger lo que más valoras. Tu satisfacción es nuestra prioridad.</p>
            </div>

            
            <!-- Beneficio Proceso de reclamaciones efectivo-->
            <div class="cardBenefits">
                <i class="fa-solid fa-circle-check"></i>
                <h2>Proceso de reclamaciones efectivo</h2>
                <p>Sabemos que en momentos difíciles, necesitas un respaldo confiable. Estamos aquí para ayudarte cuando más nos necesitas, por eso te brindamos un acompañamiento eficaz durante el momento del siniestro y el proceso de presentación de reclamaciones en cualquier eventualidad, garantizando una atención oportuna. Nuestro objetivo es ayudarte .</p>
            </div>
            
            <!-- Beneficio Experiencia y Conocimiento-->
            <div class="cardBenefits">
                <i class="fa-solid fa-circle-check"></i>
                <h2>Experiencia y conocimiento </h2>
                <p>Te ofrecemos una asesoría profesional especializada, respaldada por nuestra amplia experiencia y profundo conocimiento en el campo.  Puedes confiar en que recibirás una orientación precisa y adaptada a tu situación particular.</p>
            </div>
        </div>

    </section>
    
    <script src="https://kit.fontawesome.com/aff8875e09.js" crossorigin="anonymous"></script>
</body>
</html>