<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title> Content | Body </title>
</head>
<body>

    <section class="cards-content-section container">

        <div class="cards-content-section__text">
            <h2>Nuestros Servicios</h2>
            <p>Descubre nuestros servicios de primera calidad, diseñados para satisfacer todas tus necesidades. Haz clic y disfruta de una experiencia única y personalizada! 
            </p>
        </div>

        <div class="cards-content-section__cards container">

            <!-- Seguro de Auto's Card-->
            <div class="card">
                <div class="card__img">
                    <img src="../assets/img/43023.jpg" alt="Imagen Auto">
                </div>
                <h2>SEGURO DE AUTO</h2>
                <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid voluptas ratione animi.</P>
        
                <div class="card__cta">
                    <button class="primary-btn">Conocer más</button>
                </div>
            </div> 
            
            <!-- Seguro de Vida's Card-->
            <div class="card">
                <div class="card__img">
                    <img src="../assets/img/40781.jpg" alt="Imagen Auto">
                </div>
                <h2>SEGURO DE VIDA</h2>
                <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid voluptas ratione animi.</P>
        
        
                <div class="card__cta">
                    <button class="primary-btn">Conocer más</button>
                </div>
            </div> 
            
            <!-- Seguro de Hogar's Card-->
            <div class="card">
                <div class="card__img">
                    <img src="../assets/img/28551.jpg" alt="Imagen Auto">
                </div>
                <h2>SEGURO DE HOGAR</h2>
                <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid voluptas ratione animi.</P>
        
        
                <div class="card__cta">
                    <button class="primary-btn">Conocer más</button>
                </div>
            </div>


            <!-- Seguro de Empresa's Card-->
            <div class="card">
                <div class="card__img">
                    <img src="../assets/img/20944573.jpg" alt="Imagen Auto">
                </div>
                <h2>SEGURO DE EMPRESA</h2>
                <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid voluptas ratione animi.</P>
        
                <div class="card__cta">
                    <button class="primary-btn">Conocer más</button>
                </div>
            </div> 
            
            <!-- Seguro de Viaje's Card-->
            <div class="card">
                <div class="card__img">
                    <img src="../assets/img/37206.jpg" alt="Imagen Auto">
                </div>
                <h2>SEGURO DE VIAJE</h2>
                <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid voluptas ratione animi.</P>
        
                <div class="card__cta">
                    <button class="primary-btn">Conocer más</button>
                </div>
            </div> 
            
            <!-- Seguro de Salud's Card-->
            <div class="card">
                <div class="card__img">
                    <img src="../assets/img/37520.jpg" alt="Imagen Auto">
                </div>
                <h2>SEGURO DE SALUD</h2>
                <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid voluptas ratione animi.</P>
        
        
                <div class="card__cta">
                    <button class="primary-btn">Conocer más</button>
                </div>
            </div>


        </div>
    </section>
    
</body>
</html>