<footer class="main-footer">
  <div class="main-footer__wrapper container">
    <div class="main-footer__wrapper--logo">
      <img src="../assets/logos/YAS-logo-blanco.png" alt="logo" />
    </div>
    <section>
      <div class="main-footer__wrapper--links-section">
        <p>Aliados</p>
        <nav>
          <a href="">Allianz</a>
          <a href="">Equidad</a>
          <a href="">Seguros Sura</a>
          <a href="">AXA Colpatria</a>
          <a href="">Liberty Seguros</a>
        </nav>
      </div>
      <div class="main-footer__wrapper--links-section">
        <p>Enlaces de interés</p>
        <nav>
          <a href="">Inicio</a>
          <a href="">Servicios</a>
          <a href="">Contacto</a>
          <a href="">Nosotros</a>
          <a href="">Cotiza</a>
        </nav>
      </div>
      <div class="main-footer__wrapper--links-section">
        <p>Contacto</p>
        <nav>
          <a href="tel:+573188603986">
            <span><i class="fa-solid fa-phone"></i></span>Teléfono</a
          >
          <a href="mailto:yuleny67@gmail.com">
            <span><i class="fa-solid fa-envelope"></i></span>Email</a
          >
          <a href="">
            <span><i class="fa-solid fa-location-pin"></i></span>Armenia,
            Quindío</a
          >
          <a href="">
            <span><i class="fa-solid fa-globe"></i></span>Sitio Web</a
          >
        </nav>
      </div>
      <div class="main-footer__wrapper--links-section">
        <p>Redes sociales</p>
        <nav>
          <a href="">
            <span><i class="fa-brands fa-square-facebook"></i></span>
            Facebook</a
          >
          <a href="">
            <span><i class="fa-brands fa-square-instagram"></i></span>
            Instagram</a
          >
          <a href="">
            <span><i class="fa-brands fa-square-whatsapp"></i></span>
            WhatsApp</a
          >
        </nav>
      </div>
    </section>
  </div>
</footer>
