<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Hero Component</title>
</head>

<body>

    <section class="hero container">
        <div class="hero__img">
            <img src="../assets/img/40794.jpg" alt="imagen">
        </div>
    
        <div class="hero__content">
            <h1>YAS SEGUROS</h1>
            <p> Nos enorgullece ser verdaderos expertos en el campo. Nuestro compromiso inquebrantable es estar siempre a tu disposición, listos para brindarte el asesoramiento personalizado que necesitas. Queremos proporcionarte un nivel de protección y atención que sobrepase tus expectativas, porque creemos que te mereces lo mejor.</p>
        </div>
    </section>
    
</body>
</html>